<div class="login-container py-5 login-card">
    <h2 class="section-heading mb-4 text-center">Login to AdornMe</h2>

    <form (ngSubmit)="login()" class="form-container mx-auto" #loginForm="ngForm">
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password"
                required />
        </div>

        <button class="btn-primary w-100" type="submit">Login</button>
    </form>

    <div class="text-center mt-3">
        <a routerLink="/forgot-password">Forgot Password?</a>
    </div>

    <div class="divider my-3 text-center">
        <span>or</span>
    </div>

    <div id="google-signin-button" class="mx-auto text-center"></div>
</div>