<div class="container py-5">
    <h2 class="text-center mb-4">Forgot Password</h2>

    <form (ngSubmit)="submit()" #form="ngForm" class="mx-auto form-container">
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email" name="email"
                required />
        </div>

        <button class="btn-primary w-100" type="submit">
            Send Reset Email
        </button>
    </form>

    <div class="text-center mt-3">
        <a routerLink="/login">Back to Login</a>
    </div>
</div>