<div class="checkout-card">
    <h2>Payment Method</h2>

    <label class="option">
        <input type="radio" name="pay" value="upi" [(ngModel)]="method"> UPI
    </label>

    <label class="option">
        <input type="radio" name="pay" value="card" [(ngModel)]="method"> Debit / Credit Card
    </label>

    <label class="option">
        <input type="radio" name="pay" value="cod" [(ngModel)]="method"> Cash on Delivery
    </label>

    <div *ngIf="method == 'upi'">
        <input class="form-control mt-2" placeholder="UPI ID (e.g., name@upi)" [(ngModel)]="upiId">
    </div>

    <button class="btn-primary w-100 mt-3" (click)="savePayment()">Continue</button>
</div>